---
# Test creating a file
- name: Create a file called '/tmp/testfile.txt' with the content 'hello world'.
  copy:
    content: hello world
    dest: /tmp/testfile.txt

- name: Add several users
  user:
    name: "{{ item.name }}"
    state: present
  become: yes
  with_items: "{{ piusers }}"

- name: Test become user
  copy:
    content: "{{ item }}"
    dest: "/home/{{ item.name }}/test.txt"
  become: yes
  become_user: "{{ item.name }}"
  with_items: "{{ piusers }}"

- name: Ensure ssh keys in user's home
  command: ssh-import-id gh:{{ item.ghname }}
  become: yes
  become_user: "{{ item.name }}"
  with_items: "{{ piusers }}"

- name: Ensure ssh keys in root
  command: ssh-import-id gh:{{ item.ghname }}
  become: yes
  become_user: root
  with_items: "{{ piusers }}"
