---
- name: Add several users from ./vars/main.yml
  user:
    name: "{{ item.name }}"
    group: "{{ item.name }}"
    groups: docker
    state: present
  become: yes
  with_items: "{{ piusers }}"
  tags:
    - groups

- name: Ensure ssh keys in user's home
  authorized_key:
    user: "{{ item.name }}"
    state: present
    key: "https://github.com/{{ item.ghname }}.keys"
    comment: "{{ item.name }} aka {{ item.ghname }}@github"
  with_items: "{{ piusers }}"
  become: yes
  become_user: "{{ item.name }}"
  tags:
    - ssh_users_key
    - github_key_import

- name: Allow specific user to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^{{ item.name }}"
    line: "{{ item.name }} ALL=(ALL) NOPASSWD: ALL"
    validate: 'visudo -cf %s'
  when: item.ghname != inventory_hostname and item.sudoer == true
  with_items: "{{ piusers }}"
  become: yes
  tags:
    - sudoer

- name: Allow pi's owner to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^{{ item.name }}"
    line: "{{ item.name }} ALL=(ALL) NOPASSWD: ALL"
    validate: 'visudo -cf %s'
  when: item.ghname == inventory_hostname and item.sudoer == false
  with_items: "{{ piusers }}"
  become: yes
  tags:
    - sudoer

- name: Ensure uers's ssh keys in dojo account
  authorized_key:
    user: dojo
    state: present
    key: https://github.com/{{ item.ghname }}.keys
    comment: "{{ item.name }} aka {{ item.ghname }}@github"
  with_items: "{{ piusers }}"
  become: yes
  become_user: dojo
  tags:
    - ssh_dojo_key
    - github_key_import
    
- name: Allow dojo to sudo without password
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^dojo"
    line: "dojo ALL=(ALL) NOPASSWD: ALL"
    validate: 'visudo -cf %s'
  become: yes

- name: Ensure users's ssh keys in root account
  authorized_key:
    user: root
    state: "{{ 'present' if access else 'absent' }}"
    key: https://github.com/{{ item.ghname }}.keys
    comment: "{{ item.name }} aka {{ item.ghname }}@github"
  with_items: "{{ piusers }}"
  become: yes
  tags:
    - ssh_root_key
    - github_key_import
    