---
- name: ensure group docker exists
  group:
    name: docker
    state: present
  tags:
    - docker

- name: add several users from ./vars/main.yml
  user:
    name: "{{ item.name }}"
    group: "{{ item.name }}"
    groups: docker
    state: present
  become: yes
  with_items: "{{ piusers }}"
  tags:
    - groups

- name: ensure ssh keys in user's home
  authorized_key:
    user: "{{ item.name }}"
    state: present
    key: "https://github.com/{{ item.ghname }}.keys"
    comment: "{{ item.name }} aka {{ item.ghname }}@github"
  with_items: "{{ piusers }}"
  become: yes
  become_user: "{{ item.name }}"
  tags:
    - ssh_users_key
    - github_key_import

- name: allow pi's owner to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^{{ item.name }}"
    line: "{{ item.name }} ALL=(ALL) NOPASSWD: ALL"
    validate: 'visudo -cf %s'
  when: item.ghname == inventory_hostname
  with_items: "{{ piusers }}"
  become: yes
  tags:
    - sudoer

- name: ensure uers's ssh keys in dojo account
  authorized_key:
    user: dojo
    state: present
    key: https://github.com/{{ item.ghname }}.keys
    comment: "{{ item.name }} aka {{ item.ghname }}@github"
  with_items: "{{ piusers }}"
  become: yes
  become_user: dojo
  tags:
    - ssh_dojo_key
    - github_key_import
    
- name: allow dojo to sudo without password
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^dojo"
    line: "dojo ALL=(ALL) NOPASSWD: ALL"
    validate: 'visudo -cf %s'
  become: yes

- name: ensure users's ssh keys in root account
  authorized_key:
    user: root
    state: "{{ 'present' if access else 'absent' }}"
    key: https://github.com/{{ item.ghname }}.keys
    comment: "{{ item.name }} aka {{ item.ghname }}@github"
  with_items: "{{ piusers }}"
  become: yes
  tags:
    - root_key_ssh
