---
- name: install docker package
  apt:
    name: docker.io
    state: present
  become: yes
  tags:
    - install-docker

- name: start service docker, if not started
  service:
    name: docker
    state: started
  become: yes

- name: ensure dojo user in docker group
  user:
    name: dojo
    append: yes
    groups: docker
    state: present
  become: yes

- name: ensure pi user in docker group
  user:
    name: pi
    append: yes
    groups: docker
    state: present
  become: yes

- name: install python-backports.ssl-match-hostname package
  apt:
    name: python-backports.ssl-match-hostname
    state: present
  become: yes

# - name: remove pip docker
#   pip:
#     name: docker
#     state: absent
#   become: yes

- name: remove pip docker-py
  pip:
    name: docker-py
    state: absent
  become: yes

- name: install docker for pip
  pip:
    name: docker
    state: present
  become: yes

- name: create a web directory in dojo's home
  file:
    path: /home/dojo/web
    state: directory

- name: deploy inline template
  copy:
    content: '<html><head><title>Hello</title></head><body><h1>Hello World!</h1></body></html>'
    dest: /home/dojo/web/index.html

- name: test docker
  docker_container:
    name: test-apache-hello-world
    state: started
    image: httpd:2.4
    volumes:
      - /home/dojo/web:/usr/local/apache2/htdocs/
    ports:
      - "8181:80"
  
